body {
  font-family: 'Ubuntu', sans-serif;
}

.navbar-btn {
    margin-right: 1.5rem;
}


.body_nav {
    border: 1px solid #eee;
    background-color: #eee;
    margin-top: 13rem;
    margin-bottom: 2rem;
}

.body_nav p {
    display: inline-block;
    margin: auto;
    padding: .5rem 0 .5rem 15rem ;
}

.hollow_square{
  font-size: 30rem;

}
.transBox{
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}
#parent {
    background-color: #e0e0e0;
    height: 100%;
    text-align: center;
}

#parent p {
    padding: 1.5rem;
}

#parent ul {
    list-style-type: none;
    text-align: center;
}
#dropdownRectangle{
  width: 200px;
  height: 200px;
  background-color: black;
}
#parent li {
    margin: auto;
    text-decoration: none;
    padding: 1rem;
    margin: auto;
    margin-bottom: .5rem;
}

#breadcrumb {
    text-align: left;
    padding-bottom: 0 !important;
    margin-bottom: -1rem;
}

#left {
    width: 100%;
    background-color: #4cc1d2;
    height: 500px;
    margin: 1.5rem auto;
    color: #fff;
}

#right {
    width: 100%;
    background-color: #31da9f;
    height: 100%;
    margin: 1.5rem auto;
    color: #fff;
}

#screener_left,
#screener_right {
    background-color: rgba(224, 224, 224, 0.5);
    width: 100%;
    height: ;
    margin: 1.5rem auto;
    color: #000;
    text-align: center;
}

#program_name {
  font-size: 2rem;
}
#Mood_Calmer_Area{
  border: 1px solid black;
}

#date-box {
  width: 50%;
  margin: 2rem;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #fff;
}

#resume {
  margin: 2rem;
  width: 100%;
}
#dateBox{
  margin: 30px;
  background-color: #ffffff;
  height:15rem;
  width: 15rem;
  border: 1px solid black;
}
#dateText{
  font-size: 2rem;
}
#wordInsideSqure{
  font-size: 10px;
}
#fa fa-cloud{
  z-index: over;
}
#circle2{
  z-index: under;
}
#footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 1.5rem;
}

#scores {
  background-color: #b3ffe0;
  color: #000;
}

#my-plan {
  margin-top: 2rem;
}

#semi-circle {
  z-index: 1
}

i.fa-cloud {
  z-index: 2;
  margin-left: -100px;
  margin-top: 75px;
  position: absolute;
}

#profile-icon i{
  border: 1px solid #000;
  border-radius: 100%;
  padding: 2rem;
}

#profile-info {
  font-size: 1em;
}

#profile-info ul {
  text-align: left;
}

#profile-info i {
  padding-right: 1.5em;
}
